*, html {
    margin:0;
    padding: 0;
    overscroll-behavior: none;
}

/*/ / / L A N D I N G S P A G I N A / / /*/
.landingspagina {
    color: var(--achtergrond-kleur);
    overflow-y: hidden;
    background-image: url(media/Startpagina3.jpg);
    background-size: cover;
    overscroll-behavior: none;
    background-color: var(--achtergrond-kleur);
}

.landingspagina main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.landingspagina h1 {
    color: var(--achtergrond-kleur);
}

.slogan, .samenvatting {
    text-align: center;

    font-weight: 900;
}

.slogan {
    font-size: 24px;
    font-family: 'Kulim Park', sans-serif;
    /* transform: translateY(-20px); */
}

.samenvatting {
    font-size: 20px;
}


/*/ / / A A N B O D / / /*/
.aanbod main {
    display: flex;
    flex-direction: column;
    
}
.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    aspect-ratio: 9/5;
    object-fit: cover;
}

h3 {
    position: absolute;
    color: var(--achtergrond-kleur);
    font-size: 30px;
}

/*/ / / G R O E P S T R A J E C T E N / / */
h4 {
    margin-top: 10px;
}
table  {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

td {
    width: 50%;
}

td:last-child {
    text-align: right;
}

tr {
    width: 50%;
    border-bottom: 1px solid var(--thema-kleur);
}

tr:last-child{
    border-bottom: 0;
}

.traject a {
    background-color: var(--thema-kleur);
    border: 0;
    padding: 10px 10px;
    border-radius: 25px;
    color: var(--achtergrond-kleur);
    text-decoration: none;
    font-family: 'kulim park';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
    line-height: 1;
}

/*/ / / OVER, INDIVIDUEEL/ / /*/
ul {
    margin: 0 0 10px 0;
    list-style-position: inside
}

.over img, .individueel img, .traject img, .organisaties img {
    margin: 10px 0;
}

p {
    margin: 0 0 10px 0;
}

h2 {
    color: var(--thema-kleur);
    border-bottom: 2px solid var(--thema-kleur);
    display: inline-block;
    padding: 0 0px;
    margin: 10px 0;
}

/*/ / / CONTACT / / /*/
form {
    width: 100%;
 }

 form p {
    margin: 0;
 }

 input[type=text], textarea, select {
    width: 100%;
    height: 40px;
    margin: 5px 0 20px 0;
    border:0;
    border: 1px solid var(--thema-kleur);
    resize: vertical;
    font-family: roboto;
    font-size: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgba(205, 116, 99, 0);
    /* background-color: var(--achtergrond-kleur); */
    /* border-radius: 5px; */
}

select{
    text-align: center;
    padding: 0;
}

textarea {
    height: 200px;
    color: rgb(0, 0, 0);
}

input[type=submit] {
    background-color: var(--thema-kleur);
    border: 0;
    padding: 10px 10px;
    border-radius: 25px;
    color: var(--achtergrond-kleur);
    text-decoration: none;
    font-family: 'kulim park';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 15px;
}

.contact p {
    text-align: center;
    margin: 0;
    line-height: 1.6;
}