*, html {
    margin:0;
    padding: 0;
}

/*/ / / L A N D I N G S P A G I N A / / /*/
.landingspagina {
    color: var(--achtergrond-kleur);
    overflow-y: hidden;
    background-image: url(media/Startpagina3.jpg);
    background-size: cover;
    overflow-y: hidden;
}

.landingspagina main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--achtergrond-kleur);
}

/* .landingspagina h1 {
    color: var(--achtergrond-kleur);
} */

.slogan, .samenvatting {
    text-align: center;
}


/*/ / / A A N B O D / / /*/
.aanbod main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    aspect-ratio: 9/5;
    object-fit: cover;
}

h3 {
    position: absolute;
    color: var(--achtergrond-kleur);
    font-size: 26px;
}